.splendor-price-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    background: #f5f5f5;
    padding: 32px;
    border-radius: 8px;
  }
  
  .splendor-image img {
    max-width: 400px;
    border-radius: 8px;
  }
  
  .splendor-content {
    flex: 1;
  }
  
  .splendor-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  
  .splendor-filters {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  }
  
  .dropdown label {
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .dropdown select {
    width: 324px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .splendor-table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
  }
  .splendor-table .variant-header{
    width: 52%;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
    font-size: 1.5rem;
  }
  .splendor-table .price{
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
    font-size: 1.5rem;
  }
  .splendor-table th,
  .splendor-table td {
    font-family: "TSTAR-PRO-Medium";
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    padding: 12px 8px;
    /* border-bottom: 1px solid #ddd; */
  }
  .splendor-price-wrapper{
    margin: unset;
  }
  .splendor-buttons {
    display: flex;
    gap: 24px;
    margin-top: 16px;
  }
  
  .splendor-buttons button {
    padding: 14px 28px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
  }
  
  .loan-btn {
    color: red;
    border: 2px solid red;
    background: white;
  }
  .loan-btn:hover {
    color: red;
    background: white;
  }
  .buy-btn:hover {
    color: white;
    background:red;
  }
  .buy-btn {
    background: red;
    color: white;
  }
  